[submodule "ameripride.application"]
	path = ameripride.application
	url = git@github.com:urbanfinch/ameripride.application.git
[submodule "ameripride.demo"]
	path = ameripride.demo
	url = git@github.com:urbanfinch/ameripride.demo.git
[submodule "ameripride.salesforce"]
	path = ameripride.salesforce
	url = git@github.com:urbanfinch/ameripride.salesforce.git
[submodule "canadianlinen.salesforce"]
	path = canadianlinen.salesforce
	url = https://github.com/urbanfinch/canadianlinen.salesforce.git
